apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "operator.fullname" . }}-controller-manager
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
  api-gateway: {{ .Values.controllerManager.apiGateway | quote }}
  keycloak-url: {{ .Values.controllerManager.keycloakUrl | quote }}
  kv-mount: {{ .Values.controllerManager.kvMount | quote }}
  realm-api: {{ .Values.controllerManager.realmApi | quote }}
  role-path: {{ .Values.controllerManager.rolePath | quote }}
  vault-address: {{ .Values.controllerManager.vaultAddress | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "operator.fullname" . }}-controller-manager
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
  role-id: {{ required "controllerManager.roleId is required" .Values.controllerManager.roleId
    | b64enc | quote }}
  role-secret: {{ required "controllerManager.roleSecret is required" .Values.controllerManager.roleSecret
    | b64enc | quote }}
type: Opaque
